<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control de Navegador y PC</title>
    <link rel="stylesheet" href="{% static 'host/style.css' %}" nonce="" />
  </head>
  <body>
    {% csrf_token %}
    <h1>Control de Navegador y PC</h1>

    <div id="menu">
      <button
        id="loadBrowserButton"
        class="load-more--loading load-more--loading"
      >
        Cargar Navegador
      </button>
    </div>

    <div id="statusPanel">
      Estado del Navegador:
      <span id="browserStatus">{{ browser_status.translate }}</span>
    </div>

    <div id="pcControl">
      <button id="turnOnPCButton">Encender PC</button>
      <button id="turnOffPCButton">Apagar PC</button>
      <div id="pcStatusPanel">
        Estado del PC:
        <span id="pcStatus">{{ pc_status.translate }}</span>
      </div>
    </div>

    <script src="{% static 'host/script.js' %}"></script>
  </body>
</html>
